astroid
atomicwrites
attrs
autopep8
colorama
coverage
gitdb2
GitPython
hypothesis
isort
lazy-object-proxy
lint
mccabe
more-itertools
pluggy
py
pycodestyle
pylint
pytest>=4.6
rope
selenium
six
smmap2
tox
urllib3
virtualenv
wrapt
